
table {
  width: 100%;
}

td,th{
  width: 15%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.search,.edit,.delete{
  cursor: pointer;
}

.edit{
  color: #187880;
}

.delete{
  color: #E15639;
}